<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <body>
        <h1>Workouts</h1>
   


      <a class ="waves-effect amber waves-light btn" href="/tenndr/new"><span class="purple-text darken-3">Add a workout</span></a>

  </body>

</html>