<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>New Workout</h1>
        <div>
            <form action="/tenndr" method="POST">
                <span class="bolded">workout:</span><input type="text" name="workout" /><br />
                <span class="bolded">Description:</span><input type="text" name="description" /><br />
                <span class="bolded">duration:</span><input type="number" name="duration" /><br />
                <span class="bolded">mood_before:</span><input type="text" name="mood_before" /><br />
                <span class="bolded">mood_after:</span><input type="text" name="mood_after" /><br />
                <span class="bolded">day_of_week:</span><input type="text" name="day_of_week" /><br />
                <span class="bolded">time_of_day:</span><input type="text" name="time_of_day" /><br />
                

    
                <input type="submit" name="" value="Add Workout"/>
    
    
            </form>
        </div>
        <button><a href="/tenndr">Go Home</a></button>
       
    </body>
