<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEEN Auth Starter</title>
  </head>

  <body>
   
    <h1>Register</h1>
    <form action="/users" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" />

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="First_name">First_name:</label>
        <input type="text" name="First_name" id="First_name" />
        <label for="Last_name">Last_name:</label>
        <input type="text" name="Last_name" id="Last_name" />

      <input type="submit" value="Register" />
    </form>
  </body>
</html>
